@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}

.element::-webkit-scrollbar {
  width: 0 !important;
}

@layer base {
  @font-face {
    font-family: "fira-sans", sans-serif;
    font-weight: 300;

    font-style: normal;
    /* src: url("/assets/Fonts/firasanscompressed-regular.otf"); */
  }
  @font-face {
    font-family: "fira-sans", sans-serif;
    font-weight: Light;
    font-style: italic;
  }
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
